body {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: #FDEE73;
  }
  
  img {
    border-radius: 80%;
}
  /* Text Box colour &*/
  input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #efeaea;
  }

  
  /* Underline colour */
  hr {
    border: 1px solid #f80dd1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .submit {
    background-color: #099427;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .submitbtn:hover {
    opacity: 1;
  }
  
  /* Colour of the text of the create account button */
  a {
    color: rgb(16, 16, 14);
  }

  button {
    background-color: #27faac;
  }
  